<?xml version="1.0" encoding="utf-8" ?>
<phpunit color="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="Messenger Test Suite">
            <directory>./tests/TestCase</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>

        <!-- Prevent coverage reports from looking in tests and vendors -->
        <blacklist>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./tests</directory>
            <file>./tests/bootstrap.php</file>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>